*{
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans';
}

#navbar a {
    color: #fff;
    font-family: 'Raleway';
}

#navbar ul {
    font-size: 0.9rem;
}

#navbar a:hover {
    text-shadow: 1px 1px 15px #fff;
    box-shadow: 0 0 3px #ffffff;
}

#navbar img {
    width: 1.5rem;
    margin-right: 0.2rem;
}

main h2 {
    font-family: 'Raleway';
    font-weight: 100;
}

main p {
    color: #fff;
    font-weight: 100;
    font-size: 0.9rem;
}

main i {
    font-size: larger;
}

#destacados .card img {
    height: 150px;
}

.card-body h4 {
    font-weight: 100;
    color: #fff;
    font-size: 1.1rem;
}

/* Estilo inicial de la barra de navegación */
.navbar {
    transition: background-color 0.3s ease; /* Transición suave */
  }

  /* Estilo de la barra de navegación al hacer scroll */
  .navbar.scrolled {
    background-color: #000; /* Nuevo color de fondo al hacer scroll */
  }

footer ul {
    display: flex;
    margin-left: 2rem;
}

footer ul li {
    list-style: none;
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
}

footer ul a {
    color: #fff;

}
.custom-tooltip-class {
    --bs-tooltip-bg: var(--bs-white);
    --bs-tooltip-color: var(--bs-black);
  }