*{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Open Sans';
}

#navbar a {
    color: #fff;
    font-family: 'Raleway';
}

#navbar ul {
    font-size: 0.9rem;
}

#navbar img {
    width: 1.5rem;
    margin-right: 0.2rem;
}

main h2 {
    font-family: 'Raleway';
    font-weight: 100;
}

main p {
    color: #fff;
    font-weight: 100;
    font-size: 0.9rem;
}

main i {
    font-size: larger;
}

#destacados .card img {
    height: 150px;
}

.card-body h4 {
    font-weight: 100;
    color: #fff;
    font-size: 1.1rem;
}

/* Estilo inicial de la barra de navegación */
.navbar {
    transition: background-color 0.3s ease; /* Transición suave */
  }

  /* Estilo de la barra de navegación al hacer scroll */
  .navbar.scrolled {
    background-color: #000; /* Nuevo color de fondo al hacer scroll */
  }

footer ul {
    display: flex;
}

footer ul li {
    list-style: none;
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
}

footer ul a {
    color: #fff;
    
}